argcomplete
beautifulsoup4
certifi
chardet
cycler
cymem
cytoolz
dill
Django
django-crispy-forms
docx2txt
EbookLib
idna
kiwisolver
lxml
matplotlib
msgpack
msgpack-numpy
murmurhash
nltk
numpy
pandas
pdfminer.six
Pillow
plac
preshed
pycryptodome
pyparsing
PyPDF2
pyresparser
python-dateutil
python-pptx
pytz
regex
requests
scikit-learn
scipy
singledispatch
six
sortedcontainers
spacy
SpeechRecognition
thinc
toolz
tqdm
ujson
urllib3
wrapt
xlrd
XlsxWriter
gunicorn